<div class="row group-container">
  <div class="card-body">
    <div class="row-fluid mb-3">
      <%= image_tag user_avatar(user, 100), class: "left-circle mr-2" %>
      <span><b><%= user.name %></b></span>
    </div>
    <p><%= user.email %></p>
  </div>
  <% if following_topics.any? %>
    <div class="card-body">
      <div class="card">
        <div class="card-body">
          <span class="heading-5">Following Topics</span>
          <ul class="list-unstyled team-height">
            <% following_topics.each do |topic| %>
              <li>
                <%= image_tag topic_avatar(topic, 100), class:"team-circle mr-2" %>
                @<%= topic.name %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <% if follower_users.any? %>
  <div class="card-body">
    <div class="card">
      <div class="card-body">
        <span class="heading-5">Follower Users</span>
        <ul class="list-unstyled team-height">
          <% follower_users.each do |user| %>
            <li>
              <%= image_tag user_avatar(user, 100), class:"team-circle mr-2" %>
              @<%= user.name %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
<% if following_users.any? %>
  <div class="card-body">
    <div class="card">
      <div class="card-body">
        <span class="heading-5">Following Users</span>
        <ul class="list-unstyled team-height">
          <% following_users.each do |user| %>
            <li>
              <%= image_tag user_avatar(user, 100), class:"team-circle mr-2" %>
              @<%= user.name %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
</div>