<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-3">
    <%= render :partial => 'sidebar', locals: {  } %>
  </div>
  <div class="col-md-9">
    <h1>Discussions</h1>
      <%= form_tag(discussions_path, method: 'get') do %>
      <div class="input-group input-group-lg">
        <%= text_field_tag(:search, params[:search], class:"form-control", placeholder:"Search for communities or groups or topics!", aria: {label: "Large", describedby:"inputGroup-sizing-sm"}) %>
        <div class="input-group-prepend">
          <%= button_tag(type: "submit", class: "btn btn-outline-secondary main-search-btn") do %>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
              <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
            </svg>
          <% end %>
        </div>
      </div>
      <% end %>
    <div id="discussions" style="padding-top: 1em">
      <%= render :partial => 'activities/activity_division', locals: { display_activities: @activities } %>
    </div>
    <br>
    <%= link_to "Load more", discussions_path(page: @activities.current_page + 1, per_page: @per_page_count, search: @search), id: "load-more-discussions", remote: true %>
    <%= link_to 'New Activity', new_activity_path %>
  </div>
</div>
