
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first pt-4 pb-4">
      <h3>LOGIN</h3>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
<!--        <%#= f.label :email %><br />-->
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control login-input', id:'formGroupExampleInput', placeholder: 'Email' %>
      </div>

      <div class="form-group">
<!--        <%#= f.label :password %><br />-->
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control login-input', id:'formGroupExampleInput2', placeholder: 'Password'  %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group">
          <div class="custom-control custom-checkbox">
          <%= f.check_box :remember_me, class:"custom-control-input", id:"customCheck" %>
          <%= f.label :remember_me, class:"custom-control-label", for:"customCheck" %>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.submit "Log in", class:"btn btn-default login-btn" %>
      </div>

      <div class="form-group mb-0">
        <label>OR</label>
      </div>
    <% end %>
    <%= render "users/shared/links" %>
  </div>
</div>



