<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-3">
    <%= render :partial => 'sidebar', locals: { topic: @topic } %>
  </div>
  <div class="col-md-9">
    <% if @display_activity.present? %>
      <%= render :partial => 'activities/activity', locals: { activity: @display_activity, topic: @topic } %>
    <% else %>
      <% per_page_count = 5 %>
      <div id="<%= dom_id(@topic) %>">
        <%= render :partial => 'activities/activity_division', locals: { display_activities: @display_activities, topic: @topic } %>
      </div>
      <% if (!@display_activities.last_page? && @display_activities.present?) %>
        <%= link_to "Load more", topic_path(@topic, page: @display_activities.current_page + 1, per_page: per_page_count), id: "load-more-activities"+dom_id(@topic), remote: true %>
      <% end %>
    <% end %>
  </div>
</div>


