<% topic ||= nil %>
<% @page ||= activity %>
<div class="card" id="<%= dom_id(activity) %>start">
  <div class="card-body">
    <div class="row post-contains">
      <div class="col-sm-1 text-center">
        <%= image_tag user_avatar(activity.user, 100), class:"team-circle mr-2" %>
      </div>
      <div class="col-sm-11 mt-0 pl-0 pt-2">
        <span class="post-name">@<%=activity.user.name %></span>
        <small class="post-day"><%= link_to time_ago_in_words(activity.created_at), activity_path(activity) %></small>
        <span class="post-type badge badge-secondary"><%= activity.verb %></span>
      </div>
    </div>
    <div class="container book-bg">
      <div class="row">
        <div class="col-lg-12 col-md-12 pb-3">
          <h2><%= @page.heading %></h2>
        </div>
      </div>
      <div class="container">
        <%= @page.content %>
      </div>
      <%= link_to 'history', activities_versions_path(id: @page.id) %>
      <div id="editcollapse<%= dom_id(@page) %>" class="collapse">
        <%= render :partial => 'activities/form', locals: {activity: @page, collapse_id: "editcollapse"+dom_id(@page)} %>
      </div>
      <%= render :partial => 'activities/like', locals: {activity: @page} %>
      <a class="collapsed" data-toggle="collapse" href="#editcollapse<%= dom_id(@page) %>" role="button" aria-expanded="false" aria-controls="editcollapse<%= dom_id(@page) %>">
        edit
      </a>
      <td><%= link_to 'delete', @page, method: :delete, data: { confirm: 'Are you sure?' }, remote:true %></td>
      <% if topic.present? %>
        <%= link_to 'Show', topic_activity_path(id: topic.id, activity_id: activity.id) %>
      <% end %>
    </div>
  </div>
</div>

<script>
    console.log(<%= activity.id %>)
    window.activity_consumer = consumer.subscriptions.create({channel: "ActivityChannel", activity_id: <%= activity.id %>}, {
        received(data) {
            console.log(data)
            if(data.cableReady) CableReady.perform(data.operations)
            // Called when there's incoming data on the websocket for this channel
        }
    });
</script>


