<% parent_activity ||= nil %>
<% parent_id ||= nil %>
<% verb ||= nil %>
<% topic ||= activity.topics %>
<% collapse_id ||= nil %>
<% require 'securerandom'
  random_input ||= SecureRandom.hex %>
<div data-controller='activity new-activity'>
  <%= form_with(model: activity, data: { action: '' }) do |form| %>
    <% if activity.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>
        <ul>
          <% activity.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if verb!='reply' %>
      <div class="form-group" data-target="new-activity.heading" data-action="focusin->new-activity#showWholeForm">
        <%= form.text_field :heading, data: { target: 'activity.heading' }, class:"form-control login-input", placeholder:"Heading"  %>
      </div>
    <% end %>

    <% if verb.present? %>
      <%= form.hidden_field :verb, value: verb %>
    <% else %>
      <div class="form-group new_activity" data-target="new-activity.verb">
        <%= form.text_field :verb, data: { target: 'activity.verb' }, class:"form-control login-input", placeholder:"Verb"  %>
      </div>
    <% end %>
    <% if verb=='reply'%>
      <div class="form-group" data-target="new-activity.content">
        <%= form.rich_text_area :content, data: { target: 'activity.content' }, id: "contentreply"+random_input %>
<!--        <input id="<%#="contentreply"+random_input %>" type="hidden" name="activity[content]" value="<%#=h activity.content %>" data-target="activity.content">-->
<!--        <trix-editor input="<%#= "contentreply"+random_input %>"></trix-editor>-->
      </div>
    <% else %>
      <div class="form-group new_activity" data-target="new-activity.content">
        <%#= form.label :content %>
        <%= form.rich_text_area :content, id: "contentreply"+random_input, data: { target: 'activity.content' } %>
        <pre><%= activity[:content] %></pre>
<!--        <input id="<%#="contentreply"+random_input %>" type="hidden" name="activity[content]" value="<%#=h activity.content %>" data-target="activity.content">-->
<!--        <trix-editor input="<%#= "contentreply"+random_input %>"></trix-editor>-->
      </div>
    <% end %>

    <% if topic.present? and verb!='reply' %>
      <%= form.hidden_field :topics, value: topic, data: { target: 'activity.topic' } %>
    <% elsif verb!='reply' %>
      <div class="form-group new_activity" data-target="new-activity.topic">
        <%#= form.text_field :topic, data: { target: 'activity.topic' }, class:"form-control login-input", placeholder:"Topic"  %>
        <%= form.select :topic_ids, Topic.all.pluck(:name, :id), {}, {multiple: true, data: { target: 'activity.topic'}, class:"login-input", placeholder:"Topic" }  %>
      </div>
    <% end %>



    <% if parent_activity&.present? %>
      <%= form.hidden_field :parent_activity_id, value: parent_activity.id %>
    <% end %>
    <% if parent_id&.present? %>
      <%= form.hidden_field :parent_id, value: parent_id %>
    <% end %>

    <% if verb=='event' %>
      <div class="form-group">
        <%= form.text_field :starttime, class:"form-control login-input", placeholder:"Start Time",
                            data: {
                                controller: "flatpickr",
                            } %>
      </div>
      <div class="form-group">
        <%= form.text_field :starttime, class:"form-control login-input", placeholder:"End Time",
                            data: {
                                controller: "flatpickr",
                            } %>
      </div>
      <div class="form-group">
        <%= form.text_field :address, placeholder:"Address", class:"form-control login-input" %>
      </div>
      <div class="form-group">
        <%#= form.label :longitude %>
        <%= form.hidden_field :longitude%>
      </div>
      <div class="form-group">
        <%#= form.label :latitude %>
        <%= form.hidden_field :latitude %>
      </div>
    <% end %>

    <div class="actions" @click="open = true">
      <% if collapse_id.present? %>
        <button type="submit" data-toggle="collapse" href="#<%= collapse_id %>" role="button" aria-expanded="false" aria-controls="#<%= collapse_id %>">save</button>
      <% else %>
        <%= form.submit %>
      <% end %>
    </div>
  <% end %>
</div>