<% topic ||= nil %>
<div class="card" id="<%= dom_id(activity) %>start">
  <div class="card-title">
    <%= activity.user.name %>
    <%= link_to time_ago_in_words(activity.created_at), activity_path(activity) %>

    <div class="float-right"><%= activity.verb %></div>
    <br>
    <b><%= activity.heading %></b>
  </div>
  <div class="card-body">
    <%= activity.content %>
    <div id="editcollapse<%= dom_id(activity) %>" class="collapse">
      <%= render :partial => 'activities/form', locals: {activity: activity, collapse_id: "editcollapse"+dom_id(activity)} %>
    </div>
    Topics:
    <% activity.topic_list.each do |topic| %>
      <%= link_to topic.name, topic_path(topic) %>
    <% end %>
    <br>
    <%= render :partial => 'activities/like', locals: {activity: activity} %>
    <a class="collapsed" data-toggle="collapse" href="#editcollapse<%= dom_id(activity) %>" role="button" aria-expanded="false" aria-controls="editcollapse<%= dom_id(activity) %>">
      edit
    </a>
    <td><%= link_to 'delete', activity, method: :delete, data: { confirm: 'Are you sure?' }, remote:true %></td>
    <% if topic.present? %>
      <%= link_to 'Show', topic_activity_path(id: topic.id, activity_id: activity.id) %>
    <% end %>
</div>

<script>
    console.log(<%= activity.id %>)
    window.activity_consumer = consumer.subscriptions.create({channel: "ActivityChannel", activity_id: <%= activity.id %>}, {
        received(data) {
            console.log(data)
            if(data.cableReady) CableReady.perform(data.operations)
            // Called when there's incoming data on the websocket for this channel
        }
    });
</script>


